<div style="height: 150vh; border: 1px solid red">view</div>
<!-- ViewPort -->
<!-- @defer (on viewport()) {
  <app-dashboard />
}@placeholder (minimum 500ms) {
<p>Placeholder content</p>
}@loading (after 500ms;minimum 1s) {
<p>Loading...</p>
}-->

<!-- Interaction -->
<!-- <button #btn>btn</button>
@defer (on interaction(btn)) {
<app-dashboard />
}@placeholder {
<p>Placeholder content</p>
}@loading (after 500ms;minimum 1s) {
<p>Loading...</p>
} -->

<!-- Hover -->
<!-- <button #btn>btn</button>
@defer (on hover) {
<app-dashboard />
}@placeholder {
<p>Placeholder content</p>
}@loading (after 500ms;minimum 1s) {
<p>Loading...</p>
}@error {
<p>Error</p>
} -->

<!-- Timer -->
<!-- @defer (on timer(2000)) {
<app-dashboard />
} @placeholder {
<span>Loading</span>
} -->

<!-- when -->
<!-- <button (click)="show = !show">btn</button>
@if(show){
  @defer (when show) {
    <app-dashboard />
    }
} -->

<!-- <button #button>Load Defer Component</button>

<input type="checkbox" #check />

@defer (on interaction(button); prefetch on hover(check)) {
<app-dashboard />
} @loading(after 500ms;minimum 1s) {
<span>Loading</span>
} -->

<!-- <button #button>Load Defer Component</button>
<button (click)="show = !show">btn</button>
<input type="checkbox" #check />
@defer (on interaction(button),hover(check); when show) {
<app-dashboard />
} @placeholder {
<span>placeholder</span>
} -->
